<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.archimatetool.costing.Costing"
            id="com.archimatetool.costing.ActivityBasedCosting"
            name="Costing">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:false"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            defaultHandler="com.archimatetool.costing.EnterData"
            id="com.archimatetool.costing.EnterData"
            name="Enter Costing Data">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:toolbar_views?after=com.archimatetool.help.toolbaritem.showHintsView">
         <command
               commandId="com.archimatetool.costing.ActivityBasedCosting"
               icon="img/money.png"
               id="com.archimatetool.costing.ActivityBasedCosting"
               label="Activity Based Costing"
               style="toggle"
               tooltip="Turn On Costing">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:ArchimateDiagramEditorContextMenuProvider">
         <command
               commandId="com.archimatetool.costing.EnterData"
               label="Enter Costing Data"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
