#header{
    background-color: #4c0000;
}

#website_title{
    color: #fff;
    font-size: 20px;
}
a{
    background-color:#4c0000;
}

#outer_intro{
    height: auto;
    margin-top: 30px; 
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
}
#intro{
    width: 50%; 
    height: 80px;
    border-color: #4c0000;
    border-style: solid;
    border-width: 2px 0px 2px 0px;
    padding: 5px;
}

#intro_items{
    height: 40px;
    text-align: center;
    margin-top: 15px;
}

#details{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    margin-top: 20px;
}

#details_inside{
    width: 50%;
    border-color: #4c0000;
    border-style: solid;
    border-width: 2px 0px 2px 0px;
}